/*----------------------------------------GENERELT----------------------------------------*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F2F2EF;
}

img {
    width: 100%;
}

/*
#about p:nth-child(1) {
    padding-top: 30vw;
}
*/


/* STYLING AF HEADERE START  */

.h1_container {
    width: 70vw;
    position: relative;
    left: 30vw;
    margin-top: 100px;
}

.underline {
    width 50vw;
    height: 1px;
    background-color: black;
}

.h2_container {
    width: 70vw;
    position: relative;
    left: 30vw;
    margin-top: 50px;
}

.underline2 {
    width 50vw;
    height: 1px;
    background-color: black;
}

/* STYLING AF HEADERE SLUT  */

/* STYLING AF INDHOLDSECTIONER START  */

#exhibitions,
#shipping_info,
#returnpolicy,
#termsandconditions,
#retailers,
#about,
#press,
#showroom,
#showroom_single,
#webshop,
#contact {
    padding-top: 10vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

/* STYLING AF INDHOLDSECTIONER SLUT  */


nav {
    display: flex;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;

}

.header-wrapper {
    padding-top: 5vw;
    display: flex;
    justify-content: space-between;
    background-color: #F2F2EF;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;

}

.logo img {
    width: 8vw;

    margin: 0 3vw;
}

.cart img {
    width: 3vw;
    margin: 0vw;
}

.cart {
    margin: 0 0 0 52vw;

}

#burger {
    width: 36px;
    height: 30px;
    margin-top: 5vw;
    margin-right: 5vw;
    cursor: pointer;
    right: 2.5vw;
    z-index: 10000;
}

.bar {
    height: 3px;
    width: 100%;
    display: block;
    border-radius: 1px;
    background-color: black;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-6px)
}

#bar3 {
    transform: translateY(6px)
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);

}

.change #bar3 {
    transform: translateY(-2px) rotateZ(45deg);
}

.change #bar2 {
    opacity: 0;
}

.nav {
    padding-top: 14vw;
    display: none;
    transition: 1s ease;
    background-color: #F2F2EF;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    position: fixed;
    margin: 0;
}

.change {
    display: block;
}

.nav li a {
    text-decoration: none;
    color: black;
}

.nav li {
    list-style: none;
    padding: 7vw 10vw;
    text-align: right;
    transition: 0.3s ease;
}

.cart img {
    width: 13vw;
    margin: 0 3vw;
}

.cart_web {
    display: none;
}


/*BURGERMENU*/


/*FOOTER*/
/*FOOTER-SLUT*/

/*CALL-TO-ACTION-BUTTONS*/
/*
.cta {
    border: 1px solid #000000;
    background-color: transparent;
    font-size: 0.8rem;
    font-family: manropebold;
    letter-spacing: 1.5px;
    line-height: 50px;
    text-transform: uppercase;
    padding: 0 20px 0 20px;
    margin-top: 25px;
}*/

button {
    margin: auto;
    display: block;

}

/*CALL-TO-ACTION-BUTTONS-SLUT*/

/*QUOTES*/
.quote p {
    font-size: 1.4rem;
    font-family: manropelight;
    margin: 0;
    margin-left: 4vw;
    margin-right: 4vw;
    max-width: 1200px;
}

/*QUOTES-SLUT*/


/*FONT STYLING START*/
h1 {
    font-size: 2rem;
    font-family: manropebold;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0;
    line-height: 0.8;

}

h2 {
    font-size: 1.3rem;
    font-family: manropebold;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 0.9;
    margin: 0;

}

h3 {
    font-size: 1.2rem;
    font-family: manropebold;
    text-transform: uppercase;

}

p {
    font-family: manropelight;
    font-size: 1rem;
}

a {
    font-size: 1.2rem;
    font-family: manropebold;
    text-transform: uppercase;
    color: black;

}

/*FONT STYLING SLUT*/
/*UNDERLINE TIL OVERSKRIFTER START*/
/*
.underline {
    width: 60vw;
    height: 1px;
    background-color: black;
    float: right;
    position: relative;
    top: 24vw;
    right: 0vw;
}

.underline2 {
    width: 55vw;
    height: 1px;
    background-color: black;
    position: relative;
    top: 6vw;
    right: 0vw;
    float: right;

}

UNDERLINE TIL OVERSKRIFTER SLUT

.h1_container {
    top: 23.8vw;
    left: 39.5vw;
    position: relative;
    width: 50vw;
    line-height: .8;
}

.h2_container {
    top: 5.5vw;
    left: 45vw;
    position: relative;
    width: 50vw;
    line-height: .68;
}
*/

/*BILLEDEKARRUSELLER START*/
main {
    width: 100%;
}

.carousel {
    width: 90%;
    padding: 0;
    margin-left: 20px;
}

.caro_imgs {
    width: 100%;

}

.container {
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;

}

.container section {
    scroll-snap-align: start;

}

.carousel_inner {
    display: flex;

}

.bwd,
.fwd {
    display: flex;
    cursor: pointer;
    align-items: center;

}

.bwd img,
.fwd img {
    position: absolute;
    z-index: 10;

}

.fwd img {

    width: 2%;
    margin-left: 10px;
}

.bwd img {

    width: 2%;
    margin-left: -22px;
}

/*BILLEDEKARRUSELLER SLUT*/

/* FOOTER START */

footer {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
}

footer img {
    width: 30px;

}

.footer_link {
    margin-bottom: 25px;
    text-align: center;
}

.footer_link a {
    font-size: 1.2rem;
    margin-left: 10px;
    margin-right: 10px;
}

footer .icons {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer .icons img {

    margin-left: 10px;
    margin-right: 10px;
}



.footer_info {
    display: flex;
    justify-content: center;
}

.footer_text {
    display: flex;
    justify-content: center;
}


.footer p {
    font-size: 0.7rem;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
}

/* FOOTER SLUT */



/*----------------------------------------GENERELT-SLUT----------------------------------------*/

/*----------------------------------------FORSIDE-START---------------------------------------*/

/*SPLASH-SECTION-FORSIDE*/

#forside img {
    width: 100%;
    height: 100%;

}

#splash_forside img {
    width: 100%;
    height: 100%;

}

#splashimage_text {
    font-size: 1rem;
    font-family: manropelight;
    text-align: center;
}

#splash_under_text {
    margin-top: 5vw;
    padding: 0 15vw 0 5vw;
}

#splash_forside #splash_mobil {
    margin-top: 40vw;
    margin-bottom: 0;
}


#splash_mobil {
    margin-top: 40vw;
}

/*SPLASH-SECTION-FORSIDE-SLUT*/

#forside h2 {

    font-family: manropebold;
    margin-bottom: 2vw;
    margin-left: 4vw;
    letter-spacing: 5px;
    line-height: 30px;
}




/*----------------------------------------FORSIDE-SLUT----------------------------------------*/


/*----------------------------------------WEBSHOP-START----------------------------------------*/

#webshop h1,
#webshop h2,
#webshop .price {
    text-align: center;
}

#webshop h2,
#webshop p {
    margin-top: 1vw;
    margin-bottom: 2vw;
}


#webshop img {
    width: 100%;
}



.filter-menu button {
    background: none;


    /*            transition: 1s ease;*/
}

.valgt {

    text-decoration: underline;
}

.filter-menu {

    display: flex;
    justify-content: center;

}

.filter-menu p {
    margin-left: 1.7vw;
    margin-right: 1.7vw;
}

/*----------------------------------------WEBSHOP-SLUT----------------------------------------*/

/*----------------------------------------DETALJEVIEW-START----------------------------------------*/

/*Overskrift og underline start*/





/*Overskrift og underline slut*/

.detaljeview_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vw;

}

.detaljeview_col {
    flex-basis: 300px;
    flex-grow: 1;
    padding: 5vw 4vw 0 4vw;
}



/*----------------------------------------DETALJEVIEW-SLUT----------------------------------------*/

/*----------------------------------------SHOWROOM-START----------------------------------------*/





}

#showroom p {
    margin: 15vw 4vw 10vw 4vw;
}

#showroom .filter-menu {
    display: flex;
    justify-content: center;

}

#showroom .filter-menu p {
    margin: 0 1.7vw 0 1.7vw;
}

/*----------------------------------------SHOWROOM-SLUT----------------------------------------*/


/*----------------------------------------ABOUT-START----------------------------------------*/





/*----------------------------------------ABOUT-SLUT----------------------------------------*/


/*----------------------------------------EXHIBITIONS-START----------------------------------------*/
/*
#exhibitions p {
    padding-left: 4vw;
    padding-right: 4vw;

}



#exhibitions h3 {
    padding-left: 4vw;
    padding-top: 30vw;
}
*/



/*----------------------------------------EXHIBITIONS-SLUT----------------------------------------*/


/*----------------------------------------PRESS-START----------------------------------------*/
/*
#press {
    padding-top: 19vw;
}
*/

#press h2,
#press p {
    text-align: center;
}

#press article {
    margin: 10vw 3vw 0 2vw;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

/*
#press {
    padding: 30vw 10vw 3vw 10vw;
}
*/


/*----------------------------------------PRESS-SLUT----------------------------------------*/

/*----------------------------------------CONTACT-START----------------------------------------*/

.form_container {
    border-radius: 5px;
    padding: 20px;
    font-size: 1.2rem;
    font-family: manropebold;
    text-transform: uppercase;
    letter-spacing: 3px;
}

input[type=text],
select,
textarea {
    font-family: manropelight;
    font-size: 1rem;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background: none;
}

input[type=submit]:hover {
    background-color: #45a049;
}



/*----------------------------------------CONTACT-SLUT----------------------------------------*/

/*----------------------------------------FOOTERPAGES-START----------------------------------------*/
/*TERMS AND CONDITIONS START*/


/*
#termsandconditions p {
    margin-top: 10vw;
    padding-left: 4vw;
    padding-right: 4vw;
}
*/

#termsandconditions a {
    text-decoration: none;
}

/*TERMS AND CONDITIONS SLUT*/

/*RETURN POLICY START*/


/*
#returnpolicy p
ul {
    margin-top: 10vw;
    padding-left: 4vw;
    padding-right: 4vw;
}
*/

#returnpolicy ul {
    margin: 0 4vw;
}

#returnpolicy li {
    margin-top: 1vw;
    padding-left: 4vw;
    padding-right: 4vw;
}

#returnpolicy li p {
    margin-top: 0vw;
    padding-left: 0vw;
    padding-right: 0vw;
}


#returnpolicy a {
    text-decoration: none;
}

/*RETURN POLICY SLUT*/


/*RETAILERS START*/



#retailers .cta_links {
    margin-top: 10vw;
    padding-left: 4vw;
    padding-right: 4vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#retailers .cta {
    width: 60vw;
    margin-top: 4vw;

}



/*RETAILERS SLUT*/

/*SHIPPING INFO START*/



/*
#shipping_info p {
    margin-top: 10vw;
    padding-left: 4vw;
    padding-right: 4vw;
}
*/

/*SHIPPING INFO SLUT*/

/*----------------------------------------FOOTERPAGES-SLUT----------------------------------------*/

/*----------------------------------------IPAD START----------------------------------------*/

@media only screen and (min-width : 768px) {

    /*----------------------------------------IPAD GENERELT-START----------------------------------------*/

    /* STYLING AF HEADERE START  */

    .h1_container {
        width: 65vw;
        position: relative;
        left: 35vw;
        margin-top: 150px;
    }

    .underline {
        width 150vw;
        height: 1px;
        background-color: black;
    }

    .h2_container {
        width: 50vw;
        position: relative;
        left: 45vw;
        margin-top: 100px;
    }

    .underline2 {
        width 50vw;
        height: 1px;
        background-color: black;
    }

    /* STYLING AF HEADERE SLUT  */

    /*BURGERMENU*/
    nav {
        display: flex;
    }

    header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 10;

    }

    .header-wrapper {
        padding-top: 2vw;
        padding-bottom: 1vw;
        display: flex;
        justify-content: space-between;
        background-color: #F2F2EF;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;

    }

    .logo img {
        width: 4vw;
        margin: 0 3vw;
    }

    .cart img {
        width: 5vw;
        margin: 0vw;
    }

    .cart {
        margin: 0 0 0 70vw;

    }

    #burger {
        width: 36px;
        height: 30px;
        margin-top: 1.5vw;
        margin-right: 2vw;
        cursor: pointer;
        right: 2.5vw;
        z-index: 10000;
    }



    .nav {
        padding-top: 14vw;
        display: none;
        transition: 1s ease;
        background-color: #F2F2EF;
        width: 100%;
        height: 100vh;
        z-index: 1000;
        position: fixed;
        margin: 0;
    }

    .change {
        display: block;
    }

    .nav li a {
        text-decoration: none;
        color: black;
    }

    .nav li {
        list-style: none;
        padding: 7vw 10vw;
        text-align: right;
        transition: 0.3s ease;
    }

    .cart_web {
        display: none;
    }


    /*BURGERMENU*/

    /*FONT STYLING START*/
    h1 {
        font-size: 2.5rem;
        font-family: manropebold;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin: 0;

    }

    h2 {
        font-size: 2rem;
        font-family: manropebold;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin: 0;

    }

    h3 {
        font-size: 1.2rem;
        font-family: manropebold;
        text-transform: uppercase;
        letter-spacing: 3px;

    }

    p {
        font-family: manropelight;
        font-size: 1rem;
    }

    a {
        font-size: 1.2rem;
        font-family: manropebold;
        text-transform: uppercase;
        color: black;

    }

    /*FONT STYLING SLUT*/

    /* STYLING AF INDHOLDSECTIONER START  */

    #exhibitions,
    #shipping_info,
    #returnpolicy,
    #termsandconditions,
    #retailers,
    #about,
    #press,
    #showroom,
    #showroom_single,
    #webshop,
    #contact {
        padding-top: 8vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    /* STYLING AF INDHOLDSECTIONER SLUT  */




    /*----------------------------------------IPAD GENERALT-SLUT----------------------------------------*/

    /*----------------------------------------IPAD FORSIDE-START----------------------------------------*/
    .quote p {
        font-size: 2rem;

    }

    .cta {
        border: 1px solid #000000;
        background-color: transparent;
        font-size: 1.5rem;
        font-family: manropebold;
        letter-spacing: 1.5px;
        line-height: 50px;
        text-transform: uppercase;
        padding: 15px 20px 15px 20px;


    }

    #forside {


        grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));


    }


    /*----------------------------------------IPAD FORSIDE-SLUT----------------------------------------*/

    /*----------------------------------------IPAD WEBSHOP-START----------------------------------------*/


    /*----------------------------------------IPAD WEBSHOP-SLUT----------------------------------------*/
    /*----------------------------------------SHOWROOM-START----------------------------------------*/




    /*----------------------------------------SHOWROOM-SLUT----------------------------------------*/

    /*----------------------------------------IPAD ABOUT-START----------------------------------------*/
    /*

    #about_intro .quote {
        padding-top: 30vw;
    }

    #about p:nth-child(1) {
        padding-top: 0vw;
    }
*/


    /*----------------------------------------IPAD ABOUT-SLUT----------------------------------------*/

    /*----------------------------------------CONTACT-START----------------------------------------*/
    .contact_container {
        display: flex;
    }

    .form_container {
        margin-top: 8vw;

        margin-right: 5vw;
        border-radius: 5px;
        padding: 20px;
        font-size: 1.2rem;
        font-family: manropebold;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    input[type=text],
    select,
    textarea {
        font-family: manropelight;
        font-size: 0.7rem;
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        background: none;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }



    /*----------------------------------------CONTACT-SLUT----------------------------------------*/

    /*----------------------------------------IPAD CONTACT-START----------------------------------------*/




    /*----------------------------------------IPAD CONTACT-SLUT----------------------------------------*/

    /*----------------------------------------IPAD PRESS-START----------------------------------------*/


    /*
    #press img {
        padding: 12vw 12vw 3vw 12vw;
    }
*/

    #press {
        padding-top: 3vw;
    }

    /*----------------------------------------IPAD PRESS-SLUT----------------------------------------*/


    /*----------------------------------------IPAD FOOTERPAGES-START----------------------------------------*/


    #returnpolicy,
    #termsandconditions,
    #shipping_info,
    #retailers .h1_container {}

    #returnpolicy,
    #termsandconditions,
    #shipping_info,
    #retailers.underline {}



    /*----------------------------------------IPAD FOOTERPAGES-SLUT----------------------------------------*/


    /*----------------------------------------IPAD-SLUT----------------------------------------*/

    /*----------------------------------------IPAD PRO  START----------------------------------------*/

    @media only screen and (min-width : 1024px) {

        /*----------------------------------------IPAD PRO GENERAL START----------------------------------------*/

        /* STYLING AF HEADERE START  */

        .h1_container {
            width: 46vw;
            position: relative;
            left: 54vw;
            margin-top: 150px;
        }

        .underline {
            width 50vw;
            height: 1px;
            background-color: black;
        }

        .h2_container {
            width: 45vw;
            position: relative;
            left: 45vw;
            margin-top: 100px;
            margin-bottom: 50px;
        }

        .underline2 {
            width 50vw;
            height: 1px;
            background-color: black;
        }

        /* STYLING AF HEADERE SLUT  */

        /*BURGERMENU*/

        nav {
            display: flex;
            flex-direction: row;
            position: fixed;
            width: 100%;

            top: 0;
            left: 0;
            z-index: 10;
            background-color: #F2F2EF;
            padding-top: 2vw;
        }

        header {
            position: fixed;
            width: 100%;
            height: 10vh;
            top: 0;
            left: 0;
            z-index: 10;

        }

        .header-wrapper {
            padding-top: 0vw;
            position: relative;
            top: 0;
            left: 0;
            background: none;

        }

        .logo img {
            width: 3vw;
            margin: 0 3vw;
        }

        .cart img {
            width: 3vw;
            margin: 0 3vw;
        }

        .cart {
            display: none;
        }

        .cart_web {

            display: block;
        }

        .cart_web img {
            width: 3vw;
            margin-right: 3vw;
        }

        #burger {
            display: none;
        }

        .nav {
            padding-top: 0.5vw;
            display: flex;
            width: 100%;
            margin: 0;
            height: 0vw;
            position: relative;

        }



        .nav li a {
            text-decoration: none;
            color: black;
            font-size: 0.8rem;

        }

        .nav li {
            padding: 0 2vw;
            list-style: none;

        }

        /* MENU SLUT */

        /*FONT STYLING START*/
        h1 {
            font-size: 2.5rem;
            font-family: manropebold;
            text-transform: uppercase;
            letter-spacing: 5px;
            margin: 0;

        }

        h2 {
            font-size: 1.8rem;
            font-family: manropebold;
            text-transform: uppercase;
            letter-spacing: 5px;
            line-height: 0.9;
            margin: 0;

        }

        h3 {
            font-size: 1.2rem;
            font-family: manropebold;
            text-transform: uppercase;

        }

        p {
            font-family: manropelight;
            font-size: 0.9rem;
        }

        a {
            font-size: 1.2rem;
            font-family: manropebold;
            text-transform: uppercase;
            color: black;

        }

        /*FONT STYLING SLUT*/

        /* STYLING AF INDHOLDSECTIONER START  */

        #exhibitions,
        #shipping_info,
        #returnpolicy,
        #termsandconditions,
        #retailers,
        #about,
        #press,
        #showroom,
        #showroom_single,
        #webshop,
        #contact {
            padding-top: 10vw;
            margin-left: 10vw;
            margin-right: 10vw;
        }

        /* STYLING AF INDHOLDSECTIONER SLUT  */


        /*----------------------------------------IPAD PRO GENERAL STYLING SLUT----------------------------------------*/



        /*----------------------------------------IPAD PRO ABOUT START----------------------------------------*/
        #about img {
            margin-top: 4vw;
        }

        #about p {
            max-width: 60vw;
        }


        /*
        #about_CV p {
            margin-top: 2vw;
            margin-bottom: 4vw
        }
*/


        #about h3 {
            margin: 4vw 0vw 2vw 0vw;
        }


        /*----------------------------------------IPAD PRO ABOUT SLUT----------------------------------------*/

    }

    /*----------------------------------------LAPTOP STOR  START----------------------------------------*/

    @media only screen and (min-width : 1440px) {

        /*----------------------------------------LAPTOP STOR GENERAL START----------------------------------------*/

        /* STYLING AF HEADERE START  */

        .h1_container {
            width: 60vw;
            position: relative;
            left: 40vw;
            margin-top: 200px;
        }

        .underline {
            width 50vw;
            height: 1px;
            background-color: black;
        }

        .h2_container {
            width: 45vw;
            position: relative;

            margin-top: 100px;
        }

        .underline2 {
            width 50vw;
            height: 1px;
            background-color: black;
        }

        /* STYLING AF HEADERE SLUT  */

        /*BURGERMENU*/

        nav {
            display: flex;
            flex-direction: row;
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 10;
            background-color: #F2F2EF;

        }

        header {
            position: fixed;
            width: 100%;
            height: 5vh;
            top: 0;
            left: 0;
            z-index: 10;

        }

        .header-wrapper {
            padding-top: 0vw;
            position: relative;
            top: 0;
            left: 0;
            background: none;

        }

        .logo img {
            width: 2vw;
            margin: 0 3vw;
        }

        .cart img {
            width: 3vw;
            margin: 0 3vw;
        }

        .cart {
            display: none;
        }

        .cart_web {

            display: block;
        }

        .cart_web img {
            width: 3vw;
            margin-right: 3vw;
        }

        #burger {
            display: none;
        }

        .nav {
            padding-top: 0.5vw;
            display: flex;
            width: 100%;
            margin: 0;
            height: 0vw;
            position: relative;

        }



        .nav li a {
            text-decoration: none;
            color: black;
            font-size: 0.8rem;

        }

        .nav li {
            padding: 0 2vw;
            list-style: none;

        }

        /* MENU SLUT */

        /*FONT STYLING START*/
        h1 {
            font-size: 2.5rem;
            font-family: manropebold;
            text-transform: uppercase;
            letter-spacing: 5px;
            margin: 0;


        }

        h2 {
            font-size: 1.8rem;
            font-family: manropebold;
            text-transform: uppercase;
            letter-spacing: 5px;
            line-height: 0.9;
            margin: 0;

        }

        h3 {
            font-size: 1.2rem;
            font-family: manropebold;
            text-transform: uppercase;

        }

        p {
            font-family: manropelight;
            font-size: 1rem;
        }

        a {
            font-size: 1.2rem;
            font-family: manropebold;
            text-transform: uppercase;
            color: black;

        }

        /*FONT STYLING SLUT*/

        /* STYLING AF INDHOLDSECTIONER START  */

        #exhibitions,
        #shipping_info,
        #returnpolicy,
        #termsandconditions,
        #retailers,
        #about,
        #press,
        #showroom,
        #showroom_single,
        #webshop,
        #contact {
            padding-top: 5vw;
            margin-left: 15vw;
            margin-right: 15vw;
        }

        /* STYLING AF INDHOLDSECTIONER SLUT  */

        /*----------------------------------------LAPTOP STOR GENERAL SLUT----------------------------------------*/



        /*----------------------------------------LAPTOP STOR ABOUT START----------------------------------------*/



        /*
        #about_CV p {
            margin-top: 2vw;
            margin-bottom: 4vw
        }



        #about_CV {
            margin-top: 6vw;
            margin-bottom: 2vw;
            margin-left: 13vw;
            margin-right: 13vw;
        }*/




        /*----------------------------------------LAPTOP STOR ABOUT SLUT----------------------------------------*/


        /*----------------------------------------LAPTOP STOR  SLUT----------------------------------------*/

    }




}
