/*----------------------------------------GENERELT----------------------------------------*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F2F2EF;
}

img {
    width: 100%;
}






/*BURGERMENU*/


/*FOOTER*/
/*FOOTER-SLUT*/

/*CALL-TO-ACTION-BUTTONS*/
.cta {
    border: 1px solid #000000;
    background-color: transparent;
    font-size: 0.8rem;
    font-family: manropebold;
    letter-spacing: 1.5px;
    line-height: 50px;
    text-transform: uppercase;
    padding: 0 20px 0 20px;
    margin-top: 25px;
}

button {
    margin: auto;
    display: block;
    margin-bottom: 15vw;
}

/*CALL-TO-ACTION-BUTTONS-SLUT*/

/*QUOTES*/
.quote p {
    font-size: 1.4rem;
    font-family: manropelight;
    margin: 0;
    margin-left: 4vw;
    margin-right: 4vw;
    max-width: 1200px;
}

/*QUOTES-SLUT*/

.sectionwrapper {
    display: flex;
    flex-direction: column;
}

/*FONT STYLING START*/
h1 {
    font-size: 1.5rem;
    font-family: manropebold;
    text-transform: uppercase;
    letter-spacing: 5px;
}

h2 {
    font-size: 1.3rem;
    font-family: manropebold;
    text-transform: uppercase;
    letter-spacing: 5px;
}

h3 {
    font-size: 1.2rem;
    font-family: manropebold;
    text-transform: uppercase;

}

p {
    font-family: manropelight;
    font-size: 1rem;
}

a {
    font-size: 1.2rem;
    font-family: manropebold;
    text-transform: uppercase;
    color: black;

}

/*FONT STYLING SLUT*/




/*----------------------------------------GENERELT-SLUT----------------------------------------*/

/*----------------------------------------FORSIDE-START---------------------------------------*/

/*SPLASH-SECTION-FORSIDE*/

#forside img {
    width: 100%;
    /*    height: 100%;*/
    margin-bottom: 15vw;
}

#splash_forside img {
    width: 100%;
    height: 100%;
    margin-bottom: 15vw;
}

#splashimage_text {
    font-size: 1rem;
    font-family: manropelight;
    text-align: center;
}

#splash_under_text {
    margin-top: 5vw;
    padding: 0 15vw 0 5vw;
}

#splash_forside #splash_mobil {
    margin-top: 40vw;
    margin-bottom: 0;
}


#splash_mobil {
    margin-top: 40vw;
}

/*SPLASH-SECTION-FORSIDE-SLUT*/

#forside h2 {

    font-family: manropebold;
    margin-bottom: 2vw;
    margin-left: 4vw;
    letter-spacing: 5px;
    line-height: 30px;
}

#forside .sectionwrapper {
    display: flex;
    flex-direction: column;
}


/*----------------------------------------FORSIDE-SLUT----------------------------------------*/


/*----------------------------------------WEBSHOP-START----------------------------------------*/

/*----------------------------------------WEBSHOP-SLUT----------------------------------------*/






/*----------------------------------------IPAD START----------------------------------------*/

@media only screen and (min-width : 768px) {

    /*----------------------------------------IPAD GENERELT-START----------------------------------------*/
    h1 {
        font-size: 2.5rem;


    }

    h2 {
        font-size: 2.2rem;
    }

    p {
        font-size: 1.3rem;
    }



    .h2_container {
        top: 5vw;
        margin-top: 10vw;
    }


    /*----------------------------------------IPAD GENERALT-SLUT----------------------------------------*/

    /*----------------------------------------IPAD WEBSHOP-START----------------------------------------*/


    /*----------------------------------------IPAD WEBSHOP-SLUT----------------------------------------*/
    /*----------------------------------------SHOWROOM-START----------------------------------------*/

    #showroom .h2_container {
        top: 5vw;
        margin-top: 10vw;
    }


    /*----------------------------------------SHOWROOM-SLUT----------------------------------------*/

    /*----------------------------------------IPAD ABOUT-START----------------------------------------*/

    #about .h1_container {
        top: 5vw;
    }

    .contact .h1_container {
        top: 5vw;
    }

    /*----------------------------------------IPAD ABOUT-SLUT----------------------------------------*/

    /*----------------------------------------IPAD CONTACT-START----------------------------------------*/

    /*----------------------------------------IPAD CONTACT-SLUT----------------------------------------*/

    /*----------------------------------------IPAD PRESS-START----------------------------------------*/


    #press img {
        padding: 12vw 12vw 3vw 12vw;
    }

    #press {
        padding-top: 3vw;
    }

    /*----------------------------------------IPAD PRESS-SLUT----------------------------------------*/


    /*----------------------------------------IPAD FOOTERPAGES-START----------------------------------------*/


    #returnpolicy,
    #termsandconditions,
    #shipping_info,
    #retailers .h1_container {
        top: 6vw;
        left: 35vw;

    }

    #returnpolicy,
    #termsandconditions,
    #shipping_info,
    #retailers.underline {}



    /*----------------------------------------IPAD FOOTERPAGES-SLUT----------------------------------------*/
    /*----------------------------------------IPAD FORSIDE START----------------------------------------*/
    .quote p {
        font-size: 2rem;

    }

    .cta {
        border: 1px solid #000000;
        background-color: transparent;
        font-size: 1.5rem;
        font-family: manropebold;
        letter-spacing: 1.5px;
        line-height: 50px;
        text-transform: uppercase;
        padding: 15px 20px 15px 20px;


    }

    /*----------------------------------------IPAD FORSIDE SLUT----------------------------------------*/

    /*----------------------------------------IPAD-SLUT----------------------------------------*/



}

@media only screen and (min-width : 1024px) {





    .col1 {
        display: flex;
        flex-grow: 3;
        flex-basis: 250px;
        margin-left: 10vw;

    }

    .col_billede {}

    .col_h1 {}

    .col2 {
        flex-grow: 1;
        flex-basis: 250px;
    }





    #forside .sectionwrapper {
        display: flex;
        flex-direction: row;

    }



    #forside h2 {
        margin-left: 0;
    }

    #forside .sectionwrapper:nth-child(1) {
        width: 90%;
        margin-left: 10vw;
    }

    #forside .sectionwrapper:nth-child(1) .col1 {}

    #forside .sectionwrapper:nth-child(4) {
        justify-content: flex-end;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    #forside .sectionwrapper:nth-child(4) img {
        height: 100%;
        width: 60%;
    }

    #forside .sectionwrapper:nth-child(5) .col1 {
        flex-direction: row-reverse;
        justify-content: center;
    }

    #forside .sectionwrapper:nth-child(8) img {
        height: 100%;
        width: 60%;
    }

    #forside .sectionwrapper:nth-child(8) {
        flex-direction: row-reverse;
        justify-content: flex-end;

    }

    #forside .sectionwrapper:nth-child(9) {
        justify-content: flex-end;
    }

    #forside .sectionwrapper:nth-child(9) .col1 {
        flex-grow: 3;
        flex-basis: 300px;
    }

    #forside .sectionwrapper:nth-child(9) .col2 {
        flex-grow: 1;
        flex-basis: 100px;
    }



    #forside .sectionwrapper:nth-child(9) .col_h1 {


        flex-basis: 1;
        flex-grow: 100px;
    }

    #forside .sectionwrapper:nth-child(9) .col_billede {


        flex-basis: 100px;
        flex-grow: 1;
    }

    #forside .sectionwrapper:nth-child(12) img {
        height: 100%;
        width: 60%;
    }

    #forside .sectionwrapper:nth-child(12) {
        flex-direction: row-reverse;
    }

    #forside .sectionwrapper:nth-child(13) img {
        height: 80%;
        width: 80%;
    }

    #forside .sectionwrapper:nth-child(14) img {
        height: 50%;
        width: 50%;
    }

    #forside .sectionwrapper:nth-child(14) {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .quote {
        max-width: 600px;
    }

    .quote:nth-child(6) {
        max-width: 600px;
        margin-left: 40vw;

    }

}
